@font-face{
  font-family: 'AvenirNext-Regular';
  src: url('../fonts/AvenirNext-Regular/AvenirNext-Regular.eot');
  src: url('../fonts/AvenirNext-Regular/AvenirNext-Regular.woff2') format('woff2'),
  url('../fonts/AvenirNext-Regular/AvenirNext-Regular.woff') format('woff'),
  url('../fonts/AvenirNext-Regular/AvenirNext-Regular.ttf') format('truetype'),
  url('../fonts/AvenirNext-Regular/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg'),
  url('../fonts/AvenirNext-Regular/AvenirNext-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../fonts/AvenirNext-Medium/AvenirNext-Medium.eot');
  src: url('../fonts/AvenirNext-Medium/AvenirNext-Medium.woff2') format('woff2'),
  url('../fonts/AvenirNext-Medium/AvenirNext-Medium.woff') format('woff'),
  url('../fonts/AvenirNext-Medium/AvenirNext-Medium.ttf') format('truetype'),
  url('../fonts/AvenirNext-Medium/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg'),
  url('../fonts/AvenirNext-Medium/AvenirNext-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.eot');
  src: url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.woff2') format('woff2'),
  url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.woff') format('woff'),
  url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf') format('truetype'),
  url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg'),
  url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
